<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>惠企云企业服务项目_招募合伙人-惠企云官网</title>
    <meta name="keywords" content="税务筹划代理,灵活用工加盟,企业服务代理,个人避税代理,企业服务项目,财税代理,招募合伙人,惠企云代理加盟" />
    <meta name="description" content="惠企云企业服务项目招募合伙人,汇集企业服务全生命一站式产品,为加盟代理商提供便捷安全高效服务,打造代理加盟商零风险项目。" />
    <link rel="stylesheet" href="__SPI__/css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
    <link rel="stylesheet" href="__SPI__/css/optimal.css">
    <link rel="stylesheet" href="__HOME__/font/syht.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>
    <div class='container' data-pageId="1">

        <!-- 导航部分 -->
        {include file='common/header' /}
    </div>

    <div>
        <div class="fourzerofour">
            <img src="__PUBLIC__/error_pic.png">
        </div>
        <div class="building">
            正在建设中...
        </div>
        <div class="goHome">
            <span><i class="clock">3</i>秒后返回首页</span>
            <a href="{:url('/home/index/index')}">回到首页</a>
        </div>
    </div>
    </div>
</body>
<script>
    $(function () {
        var count = 3;
        var timer = setInterval(function () {
            $('.clock').html(count);
            count--;
            if (count < 0) {
                clearInterval(timer)
                location.href="{:url('/home/index/index')}"
            }
        }, 1000)

    })
</script>

</html>